{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_inactive_users/view


    Example context (json):
    {

    }
}}
<div class="float-right py-2">
    <a href="{{suspend_url}}" class="btn btn-info bold">
        {{#str}} suspenduserlist, local_inactive_users {{/str}}
    </a>
</div>

<input type="text" id="inactive_users-myInput" placeholder="Search Users..">

<button id="suspendSelected" class="btn btn-warning ml-5">{{#str}} suspendselected, local_inactive_users {{/str}}</button>
<button id="deleteSelected" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteSelected">{{#str}} deleteselected, local_inactive_users {{/str}}</button>

<table id="myTable" class="table table-hover">
    <thead>
    <tr>
        <th scope="col">
            <input type="checkbox" id="checkAll" onclick="toggleCheckAll(this)">
        </th>
        <th scope="col">{{#str}} firstname, local_inactive_users {{/str}}</th>
        <th scope="col">{{#str}} lastname, local_inactive_users {{/str}}</th>
        <th scope="col">{{#str}} email, local_inactive_users {{/str}}</th>
        <th scope="col">{{#str}} lastlogin, local_inactive_users {{/str}}</th>
        <th scope="col">{{#str}} suspend, local_inactive_users {{/str}}</th>
        <th scope="col">{{#str}} delete, local_inactive_users {{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{#inactive_users}}
        <tr>
            <td>
                <input type="checkbox" class="user-checkbox" data-userid="{{id}}">
            </td>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{email}}</td>
            <td>{{lastlogin}}</td>
            <td>
                <a href="{{feature_url}}?userid={{id}}&action=1" class="btn btn-warning">
                    {{suspend}}
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteUser{{id}}">
                    {{delete}}
                </a>
                <div class="modal fade" id="deleteUser{{id}}" tabindex="-1" aria-labelledby="confirmDeleteLabel{{id}}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteLabel{{id}}">{{#str}} confirmdelete, local_inactive_users {{/str}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{#str}} suredeleteuser, local_inactive_users {{/str}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}} cancel, local_inactive_users {{/str}}</button>
                                <a href="{{feature_url}}?userid={{id}}&action=2" class="btn btn-danger">{{#str}} delete, local_inactive_users {{/str}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    {{/inactive_users}}
    </tbody>
</table>

<div class="modal fade" id="confirmDeleteSelected" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">{{#str}} confirmdelete, local_inactive_users {{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#str}} suredeleteuser, local_inactive_users {{/str}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}} cancel, local_inactive_users {{/str}}</button>
                <button id="confirmDeleteSelectedButton" class="btn btn-danger">{{#str}} delete, local_inactive_users {{/str}}</button>
            </div>
        </div>
    </div>
</div>
